extends layout


block content
	link(rel="stylesheet",href="/stylesheets/home.css")
	script(src="/scripts/home.js")
	div.container
		div.header
			div.row.middle-xs(style="margin: 30px;")
				div.col-md-1
					div.image.box
				div.col-md-1
					span.box حامد ذاکر ی میاب	
					