doctype html
html(ng-app="peApp")
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    base(href="/")
    
    script(src="/jquery/dist/jquery.min.js")
    script(src="/angular/angular.min.js")
    script(src="/angular-ui-router/release/angular-ui-router.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    
    script(src="/scripts/app.js")
    
  body
    div(ui-view="main")
  