link(rel='stylesheet', href='stylesheets/login.css')
script(src='particles.js/particles.min.js')
script(src='scripts/login.js')
div#particles-js(Style="background-color: #b61924; position: absolute; top: 0; bottom: 0; right:0; left: 0;")

div.centerized(ng-controller="loginCtrl")
	span.title خروج موقت شخصی {{test}}
	form#loginForm.form-horizontal
		div.form-group
			div.input-group
				input.form-control(type="text", id="username", name="username", placeholder="نام کاربری...")
				span.input-group-addon
					span.glyphicon.glyphicon-user
		div.form-group
			div.input-group
				input.form-control(type="text", id="password", name="password", placeholder="کلمه عبور...")
				span.input-group-addon
					span.glyphicon.glyphicon-asterisk
		div.form-group
			button.btn.btn-default(type='button', ng-click="login()")
				|ورود
	span.error {{message}}