div#subpageContainer{
	height: 100%;
	background-color: #FFDFDF;
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
}

.wrapper{
	padding: 30px;
	direction: rtl;
}

button.btn.btn-primary{
	margin-right: 5px;
}

.modal-header .close {
	float: left;
}

.modal-body>input,
.modal-body >select,
.modal-body>span{
	color: blue;
    position: absolute;
    font-weight: 500;
	/*border: none;*/
    /*background-color: transparent;*/
}

select#unit {
    top: 106px;
    right: 75px;
    width: 184px;
}

#date{
	top: 106px;
    right: 361px;
	width: 170px;
	position: absolute;
	color: blue;
}

#fullname {
	top: 152px;
    right: 108px;
}

#personalCode {
	top: 152px;
    right: 394px;
    width: 127px;
}

#partName {
	top: 152px;
    right: 589px;
}

#partId{
	top: 197px;
    right: 111px;
    width: 79px;
}

#fromDate{
	top: 194px;
    right: 383px;
    width: 150px;
}

#toDate {
    top: 194px;
    right: 600px;
    width: 136px;
}