div#subpageContainer{
	height: 100%;
	background-color: #FFDFDF;
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
}

.wrapper{
	padding: 30px;
	direction: rtl;
	position: relative;
    top: 100px;
}

button.btn.btn-primary{
	margin-right: 5px;
}

.modal-header .close {
	float: left;
}

form>input,
form>select,
form>span{
	color: blue;
    position: absolute;
    font-weight: 500;
	/*border: none;*/
    /*background-color: transparent;*/
}

select#unit {
    top: 106px;
    right: 75px;
    width: 184px;
}

#date{
	top: 106px;
    right: 361px;
	width: 170px;
	position: absolute;
	color: blue;
}

#fullname {
	top: 152px;
    right: 108px;
}

#personalCode {
	top: 152px;
    right: 394px;
    width: 127px;
}

#partName {
	top: 152px;
    right: 589px;
}

#partId{
	top: 197px;
    right: 111px;
    width: 79px;
}

#fromDate{
	top: 194px;
    right: 383px;
    width: 150px;
}

#toDate {
    top: 194px;
    right: 600px;
    width: 136px;
}

.hidden {
	display: none;
}

.notificationsHost {
	position: fixed;
	right: 20px;
	bottom: 0;
}

#btnReg{
	min-width: 120px;
}

.papersHost{
	margin: 50px 10px;
	position: relative;
}

.paper {
	border-bottom: 1px solid lightgray;
	display: block;
	position: relative;
	padding: 10px 0;
	background-color: rgba(0,0,0,0.01);
	cursor: default;
}
.paper:hover {
	background-color: rgba(100,0,0,0.1);
}

.papersheader {
	border-bottom: 2px solid lightgray;
	font-weight: 400;
	font-size: 1.2em;
	padding: 10px 0;
	color: gray;
}

.col {
	display: inline-block;
}

.col.center{
	text-align: center;
}
.col.left{
	text-align: left;
	padding-left: 10px;
}
.col.right{
	text-align: right;
	padding-right: 10px;
}

.col1 {
	width: 50px
}
.col2 {
	width: 150px
}
.col3 {
	width: 200px
}
.col4 {
	width: 200px
}
.col5 {
	width: 200px
}

.col6 * {
	margin: 0 5px;
	visibility: hidden;
	float: right;
}

.paper:hover .col6 * {
	visibility: visible;
}


.status {
	width: 3px;
	height: 80%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all ease-out 0.8s;
}

.status.s0 {
	background-color: dodgerblue;
	height: 5.6px;
	top: 17.2px;
}
.status.s1 {
	background-color: lightgreen;
	height: 11.2px;
	top: 14.4px;
}
.status.s2 {
	background-color: green;
	height: 16.8px;
	top: 11.6px;
}
.status.s3 {
	background-color: darkgreen;
	height: 22.4px;
	top: 8.8px;
}
.status.s4 {
	background-color: black;
	height: 28px;
	top: 6px;
}
.status.s5 {
	background-color: blue;
	height: 33.6px;
	top: 3.2px;
}
.status.s6 {
	background-color: red;
	height: 40px;
	top: 0px;
}